<%- include('./components/adminNavbar.ejs') %>
<div class="user-details">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                    <table class="table">
                            <thead  class="thead-dark">
                              <tr>
                                <th scope="col">#S.No</th>
                                <th scope="col">Video Name</th>
                                <th scope="col">Category</th>
                                <th scope="col">Genres</th>
                                <th scope="col">Prime Member</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Remove</th>
                              </tr>
                            </thead>
                            <tbody>
                                <% var count =1;%>
                                <% data.forEach(function(item){%>
                                    <tr>
                                        <td><%= count %></td>
                                        <td><%= item.movieName %> </td>
                                        <td><%= item.category %></td>
                                        <td><%= item.genre %></td>
                                        <td><%= item.isPrime %></td>
                                        <td><a class="btn" data-toggle="modal" data-target="#e"><i class="far fa-edit"></i></a></td>
                                        <td><a href="/admin/delVideo/<%=item._id%>"><i class="far fa-trash-alt"></i></a></td>
                                       
                                    </tr>
                                    <%count+=1;%>
                                <%}); %>
                            </tbody>
                    </table>
            </div>
        </div>
</div>
<%- include('./components/adminEditModal.ejs') %>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>